
.author-list{
    
    height: 100vh;
    overflow-y: scroll;
}

.author-table{

}
.author-table,th,td{

    border : 1px solid silver;
    
}
th,td{
    border: 1px solid black;
}
th{

    background-color: #58a86a;

}
tr:nth-child(odd){
    background-color:#c9d4cb;
}
