.books-flex{

    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:5px;
    height: 100%;
    
}

@media screen and (max-width:480px){


    .books-flex{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}